<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ article?.source.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="article">
    <ion-card-header>
      <ion-card-title>
        {{ article.title }}
      </ion-card-title>
      <ion-card-subtitle *ngIf="article.author">
        By {{ article.author }}
      </ion-card-subtitle>
      <ion-card-subtitle>
        Published at {{ article.publishedAt }}
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-label>{{ article.description }}</ion-label>
      </ion-card-subtitle>

      <img [src]="article.urlToImage" *ngIf="article.urlToImage != 'N/A'" class="info-img">

    </ion-card-header>
    <ion-card-content>


      <p class="ion-text-start">
      {{ article.content }}
      </p>
      
      <ion-button expand="full" (click)="openUrl()" *ngIf="article.url && article.url != 'N/A'">
        <ion-icon name="open" slot="start"></ion-icon>
        Read More...
      </ion-button>

    </ion-card-content>
  </ion-card>
  
</ion-content>
