<ion-header>
  <ion-toolbar color="danger">
    <ion-button fill="clear" color="light" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>

    <ion-title>Headlines Now</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="changeCountry($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-item>
          <ion-label>Select Country</ion-label>
          <ion-select [(ngModel)]="country" (ionChange)="changeCountry($event)">
            <ion-select-option value="us">United States</ion-select-option>
            <ion-select-option value="gb">United Kingdom</ion-select-option>
            <ion-select-option value="fr">France</ion-select-option>
            <ion-select-option value="jp">Japan</ion-select-option>
            <ion-select-option value="hk">Hong Kong</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <!-- <ion-card button *ngFor="let item of (news)" [routerLink]="['/article', item.url]"> -->
        <ion-card button *ngFor="let item of (news | async)" [routerLink]="['/article', item.url]">
        
          <img [src]="item.urlToImage" *ngIf="item.urlToImage != 'N/A'">
        
          <ion-card-header>
            <ion-card-title>{{ item.title }}</ion-card-title>
            <!-- <ion-card-subtitle>{{ item.publishedAt }}</ion-card-subtitle> -->
        
          </ion-card-header>
          <ion-card-content>
            <!-- {{item.content}} -->
          </ion-card-content>
        
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
    
  
</ion-content>
